.heading {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;

}

.navbar {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 700;
    height: fit-content;
    z-index: 2;
 
}

.navitems {
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 60%;
    list-style-type: none;
}

.navitems li a {
    text-decoration: none;

}

.navbar-dropdown {
    height: 30px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}



@media screen and (max-width:830px) {
    .navbar {
        justify-content: space-evenly;
        margin-bottom: 5%;


    }

    .navitems {
        height: 50%;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 25px;
        align-items: center;
        color: black;
        z-index: 1;
        background-image: linear-gradient(to bottom, rgba(29, 31, 41, 0.8) 80%, rgba(0,0,45,0.5));
    }

    .heading {
        font-size: larger;
        

    }
}