.container {
    display: block;
    margin: 10%;
}

.heading {
    text-transform: uppercase;
}

.experience {
    display: flex;
    justify-content: space-between;
    padding-inline:5%;

}

.techstack {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10%;
    width: 40%;
}

.techstack img {
    padding: 10%;
    background-color: inherit;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 100%;

}

.image-background {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(87, 94, 89)
}

.history {
    width: 50%;
}

.jobdetails {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height:0.9;
    letter-spacing: 0.8px;
    margin-bottom: 5%;
    padding:2%;
    background-image: linear-gradient(to right,rgba(64,105,163,0.5) ,rgba(0,0,0,0));
    border-radius: 25px;
    column-gap: 5%;

}

.jobdetails img {
    width: 10%;
    height: 10%;
    padding: 1%;
    background-color: white;
    margin-bottom: 2%;
}

.worksummary ,p ,ul ,li,h4 {
    background-color: transparent;
}

.worksummary{
    align-items: center;
}

.jobTitle{
    font-weight: 600;
}

.smalltext{
    font-weight: 200;
    font-size: small;
}
